
body {
    background-image: url("http://bgfons.com/upload/stars_texture2956.jpg");
    color: rgb(255,255,255);
    font-family: "Open Sans", sans-serif;
    text-align: center;
    -webkit-text-stroke: .1px #000000;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
    text-align: center;
    color: rgb(255,255,255);
    -webkit-text-stroke: .5px #000000;
}

